body {
    width: 1200px;
    margin: 0 auto;
}
header {
    border-bottom: 1px solid #ececec;
    height: 100px;
}

.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3, p {
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    padding: 5px 3px;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.product-item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
}

.btn-cart {
    margin-top: 25px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    border: none;
}
.buy-btn {
    margin-top: 10px;
    width: 235px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
}